*{
    margin: 0;
    padding:0;
}

nav{
    background: rgb(37,9,37);
    color:#ffff;
    height: 55px;
    font-family:sans-serif;
    font-size:27px;
    display: flex;
    align-items: center;
    padding:0 20px;
}
nav ul{
    list-style-type: none;
}
footer{
    background: rgb(37,9,37);
    color:#ffff;
    height: 50px;
    font-family:sans-serif;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 20px;
    margin-top: 120px;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top:50px ;
    

}
.container{
    font-family: sans-serif;
    display: grid;
    grid-template-rows:repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    position: relative;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color:rgb(226, 204, 247);
}
.info{
    font-size: 25px;
}
.gameInfo{
    padding:0 50px;
}
.gameInfo h1{
    font-size: 2.5rem;
}
.imgbox img{
    margin-top: 30px;
    width: 0px;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 20px 30px;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: serif;
}
#reset:hover{
    margin: 20px 30px;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background: rgb(39, 9, 37);
}
.line{
    background: rgb(240, 12, 62);
    width: 0;
    height: 3px;
    position: absolute;
    transition: width 1s ease-in-out;
}
/* media query */
@media screen and (max-width :800px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 35px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
    .imgbox img{
        width: 60vw;
    }
}